<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!--servlet接口实现类类路径地址交给Tomcat-->
    <!-- 声明一个变量 oneServlet = com.test.controller.OneServlet-->
    <servlet>
        <servlet-name>oneServlet</servlet-name>
        <servlet-class>com.test.controller.OneServlet</servlet-class>
    </servlet>
    <!--将过滤器文件路径交给tomcat-->
    <filter>
        <filter-name>oneFilter</filter-name>
        <filter-class>com.test.filter.OneFilter</filter-class>
    </filter>
    <!-- 通知Tomcat在调用何种资源文件时需要被当前过滤器拦截-->
    <filter-mapping>
        <filter-name>oneFilter</filter-name>
        <url-pattern>/text.jpg</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>com.test.filter.TwoFilter</filter-name>
    </filter>
    <filter-mapping>
        <filter-name>twoFilter</filter-name>
        <url-pattern>/*</url-pattern> <!--   通知tomcat在调用所有资源文件之前都要调用twoFilter进行拦截     -->
    </filter-mapping>
    <filter>
        <filter-name>ThreeFilter</filter-name>
        <filter-class>com.test.filter.ThreeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ThreeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--为servlet接口实现类提供简短别名-->
    <servlet-mapping>
        <servlet-name>oneServlet</servlet-name>
        <url-pattern>/one</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.test.listener.OneListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.test.listener.TwoListener</listener-class>
    </listener>

</web-app>